<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mxsm.generator.dao.DistributedIdGeneratorMapper">
    <insert id="getDistributedId" keyProperty="id" useGeneratedKeys="true" parameterType="com.github.mxsm.generator.entity.DistributedIdGeneratorEntity">
        insert into distributed_id_generator (remark) values (#{dig.remark})
    </insert>
</mapper>